<!doctype html>

<html lang="{{language}}">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{site}} - {{name}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="callout" content="{{callout}}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{css-bootstrap}}
{{js}}
{{css}}
{{rss}}
    
</head>

<body id="{{id}}">

<header role="banner">

	<nav class="navbar navbar-default" role="navigation">
	  
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
        
        <a class="navbar-brand" href="{{site-url}}"><img src="{{resources}}images/funk_logo_100px.png"></a>
	  </div>
	  <!-- /.navbar-header -->
	
	  
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav navbar-right nav-pills">
			{{menu-primary}}
          	{{search-menu}}
          	<li><a class="cart-toggle"><i class="fa fa-shopping-cart"></i> <span class="cart-count">0</span></a></li>
	    </ul>
	  </div>
	  <!-- /.navbar-collapse -->
      
	</nav>

	{{cart}}

</header>
  
<div id="content" class="container" role="main">
    {{content}}
</div>

<footer role="contentinfo">

  <div class="container">

		<div class="row">

          <div class="col-md-6">

            <h4>{{t}}Funkfatzke{{/t}}</h4>
            
            <p>
              Straße<br>
              PLZ Berlin
            </p>
            <p>
              Telefon: ...
            </p>
            
            <p class="social">
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="{{root}}page/kontakt"><i class="fa fa-envelope-o"></i></a>
            </p>

          </div>
          <!-- /.col-md-4 -->

          <div class="col-md-6">

            <h4>{{t}}Allgemeine Informationen{{/t}}</h4>

            <p>
              	{{menu-footer}}
            </p>
            
            <p>
            	Diese Seite verwendet Google Analytics
            </p>

          </div>
		  <!-- /.col-md-4 -->

		</div>
		<!-- /.row -->

  	</div>
  	<!-- /.container -->

</footer>

{{js-cart}}
<script type="text/javascript" src="{{resources}}advanced.js"></script>

{{analytics}}

</body>

</html>